In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
DATASET_IMPLICIT_DIMS: dict[str, int] = {
    "MNIST": 11,
    "SVHN": 14,
    "CIFAR-10": 21
}

In [17]:
dims_df = pd.DataFrame.from_dict(DATASET_IMPLICIT_DIMS, orient='index', columns=['d'])
dims_df['2d'] = 2 * dims_df['d']
dims_df['5d'] = 5 * dims_df['d']
dims_df['d*ln(d)'] = dims_df['d'] * np.log(dims_df['d'])
dims_df['d*log(d)'] = dims_df['d'] * np.log2(dims_df['d'])
dims_df['d^1.5'] = np.pow(dims_df['d'], 1.5)
dims_df['d^2'] = np.pow(dims_df['d'], 2)
dims_df

           d  2d   5d    d*ln(d)   d*log(d)      d^1.5  d^2
MNIST     11  22   55  26.376848  38.053748  36.482873  121
SVHN      14  28   70  36.946803  53.302969  52.383203  196
CIFAR-10  21  42  105  63.934971  92.238666  96.234090  441

In [18]:
dims_df = np.round(dims_df).astype(int)
dims_df

           d  2d   5d  d*ln(d)  d*log(d)  d^1.5  d^2
MNIST     11  22   55       26        38     36  121
SVHN      14  28   70       37        53     52  196
CIFAR-10  21  42  105       64        92     96  441