In [30]:
from functools import partial
from typing import Callable, Any, Final

In [31]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from pprint import pprint

In [32]:
from dataset_subset import sample_dataset_random, sample_dataset_jls_kmeans
from train_dataset import train_cfar, train_svhn, train_mnist

In [33]:
BASE_SEED: Final[int] = 206783441

In [34]:
DATASET_IMPLICIT_DIMS: dict[str, int] = {
    "MNIST": 11,
    "SVHN": 14,
    "CIFAR-10": 21
}

Calculate the different values for functions of $d_{ID}$

In [35]:
dims_df = pd.DataFrame.from_dict(DATASET_IMPLICIT_DIMS, orient='index', columns=['d'])
dims_df['2d'] = 2 * dims_df['d']
dims_df['5d'] = 5 * dims_df['d']
dims_df['d*ln(d)'] = dims_df['d'] * np.log(dims_df['d'])
dims_df['d*log2(d)'] = dims_df['d'] * np.log2(dims_df['d'])
dims_df['d^1.5*ln(d)'] = dims_df['d*ln(d)'] * np.sqrt(dims_df['d'])
dims_df['d^2'] = np.power(dims_df['d'], 2)
dims_df

           d  2d   5d    d*ln(d)  d*log2(d)  d^1.5*ln(d)  d^2
MNIST     11  22   55  26.376848  38.053748    87.482108  121
SVHN      14  28   70  36.946803  53.302969   138.242277  196
CIFAR-10  21  42  105  63.934971  92.238666   292.986845  441

Round the dimensions since we can only use positive integers

In [36]:
dims_df = dims_df.round().astype(int)
dims_df

           d  2d   5d  d*ln(d)  d*log2(d)  d^1.5*ln(d)  d^2
MNIST     11  22   55       26         38           87  121
SVHN      14  28   70       37         53          138  196
CIFAR-10  21  42  105       64         92          293  441

In [37]:
def train_model(model_name: str, sample_func: Callable[[np.ndarray[float]], list[int]], base_seed: int, num_runs: int = 10) -> list[float]:
    train_func: Callable[[Callable[[np.ndarray[float]], list[int]]], tuple[Any, float, float]]
    if model_name.upper() == 'MNIST':
        train_func = train_mnist
    elif model_name.upper() == 'SVHN':
        train_func = train_svhn
    else:
        train_func = train_cfar

    return [max(train_func(partial(sample_func, random_seed=base_seed + i * 13), seed=base_seed+i * 13)[1]) for i in tqdm(range(num_runs))]

In [38]:
train_results: dict[str, dict[str, list[float]]] = dict()

In [39]:
import json
with open('results.json') as f:
    train_results = json.load(f)

with open('results_diff_sample_size.json') as f:
    train_results_diff_samples = json.load(f)

train_results['MNIST_s_25'] = train_results_diff_samples['MNIST']
train_results['SVHN_s_250'] = train_results_diff_samples['SVHN']

train_results

{'CIFAR-10': {'baseline': [25.07,
   27.58,
   25.11,
   25.1,
   25.95,
   26.42,
   23.25,
   26.71,
   24.16,
   26.73],
  'd': [28.41, 25.55, 26.24, 28.37, 22.51, 25.84, 26.76, 24.75, 27.2, 25.78],
  '2d': [25.5, 25.04, 28.8, 27.42, 26.6, 27.22, 22.72, 25.38, 28.8, 29.65],
  '5d': [26.74, 27.16, 30.17, 23.13, 26.11, 24.9, 28.39, 27.26, 25.03, 27.08],
  'd*ln(d)': [27.97,
   25.75,
   26.69,
   29.71,
   26.24,
   25.03,
   25.91,
   25.11,
   24.28,
   26.12],
  'd*log2(d)': [27.55,
   28.1,
   28.71,
   26.52,
   24.0,
   25.38,
   26.91,
   30.12,
   27.51,
   24.3],
  'd^1.5*ln(d)': [28.21,
   24.47,
   27.69,
   26.68,
   26.3,
   26.76,
   27.7,
   28.62,
   29.24,
   27.61],
  'd^2': [27.84,
   29.4,
   25.94,
   24.53,
   24.47,
   26.06,
   27.41,
   24.72,
   24.58,
   28.55]},
 'MNIST': {'baseline': [72.77,
   67.73,
   72.91,
   76.14,
   75.61,
   70.54,
   73.81,
   73.36,
   74.07,
   75.86],
  'd': [77.17, 78.09, 75.23, 79.53, 78.27, 79.85, 78.3, 79.7, 74.18, 76.77],
  '2d': [78.22, 81.03, 73.8, 78.51, 78.82, 77.48, 79.54, 77.85, 78.93, 78.65],
  '5d': [78.55, 76.74, 78.04, 80.91, 80.43, 79.06, 78.56, 76.68, 80.89, 77.23],
  'd*ln(d)': [78.41,
   77.87,
   77.88,
   77.87,
   79.12,
   76.16,
   76.67,
   77.5,
   78.72,
   79.04],
  'd*log2(d)': [78.44,
   79.85,
   79.31,
   82.6,
   75.52,
   78.75,
   76.6,
   79.41,
   78.58,
   77.75],
  'd^1.5*ln(d)': [78.43,
   78.99,
   78.62,
   79.22,
   81.28,
   78.9,
   82.67,
   80.35,
   77.15,
   76.75],
  'd^2': [77.56,
   77.78,
   78.62,
   81.43,
   78.1,
   79.11,
   80.84,
   79.74,
   79.63,
   79.74]},
 'SVHN': {'baseline': [23.54025814382299,
   20.17516902274124,
   28.84142593730793,
   18.573294406883836,
   22.491548862937922,
   28.050092194222497,
   21.45820528580209,
   15.684542102028272,
   21.68100799016595,
   22.410878918254458],
  'd': [17.65903503380455,
   19.587430854333128,
   26.513521819299324,
   30.485556238475723,
   21.246926859250152,
   22.322526121696374,
   27.174247080516288,
   19.587430854333128,
   20.820528580208972,
   26.732483097725876],
  '2d': [19.349262446220038,
   20.374923171481253,
   18.761524277811922,
   17.075138291333744,
   19.468346650276583,
   25.487861094038106,
   19.560540872771973,
   19.587430854333128,
   19.779502151198525,
   21.166256914566688],
  '5d': [18.757682851874616,
   19.587430854333128,
   19.587430854333128,
   23.5479409956976,
   17.13660110633067,
   18.258297480024584,
   19.587430854333128,
   27.30101413644745,
   24.36616472034419,
   30.070682237246466],
  'd*ln(d)': [22.44161032575292,
   19.925476336816224,
   17.48617086662569,
   17.924093423478794,
   23.03318992009834,
   12.81499692685925,
   26.955285802089737,
   22.099723417332513,
   25.11140135218193,
   21.058696988322065],
  'd*log2(d)': [18.189151813153043,
   19.587430854333128,
   16.310694529809464,
   20.3019360786724,
   28.664720344191764,
   14.897049784880148,
   22.933312845728334,
   24.558236017209587,
   15.407959434542102,
   25.568531038721574],
  'd^1.5*ln(d)': [24.11263060848187,
   15.938076213890596,
   27.043638598647817,
   20.616933005531653,
   19.591272280270438,
   22.095881991395206,
   20.278887523048557,
   19.587430854333128,
   19.587430854333128,
   19.15334972341733],
  'd^2': [19.587430854333128,
   18.98816840811309,
   18.52719729563614,
   15.938076213890596,
   20.428703134603566,
   23.732329440688382,
   19.587430854333128,
   31.645666871542716,
   14.900891210817456,
   24.900122925629994]},
 'MNIST_s_25': {'baseline': [52.33,
   54.83,
   56.95,
   54.12,
   52.56,
   52.34,
   50.64,
   49.53,
   45.2,
   50.77],
  'd': [54.32, 46.77, 55.82, 57.36, 48.16, 63.0, 58.47, 52.8, 56.6, 59.6],
  '2d': [53.34, 57.55, 59.89, 55.04, 59.28, 57.08, 56.91, 51.06, 57.56, 62.95],
  '5d': [57.18, 53.42, 57.06, 56.22, 60.05, 49.58, 56.41, 55.89, 55.95, 62.38],
  'd*ln(d)': [59.7,
   47.25,
   54.86,
   54.26,
   52.56,
   50.85,
   59.24,
   58.05,
   56.8,
   55.18],
  'd*log2(d)': [46.79,
   56.5,
   62.31,
   60.16,
   51.88,
   57.12,
   59.3,
   57.36,
   56.35,
   62.19],
  'd^1.5*ln(d)': [56.43,
   60.5,
   60.4,
   61.43,
   60.61,
   68.87,
   57.85,
   64.31,
   52.51,
   57.9],
  'd^2': [53.35,
   51.51,
   61.52,
   53.84,
   60.17,
   57.92,
   66.15,
   57.77,
   59.33,
   55.77]},
 'SVHN_s_250': {'baseline': [51.44821757836509,
   55.03226797787339,
   40.48478795328826,
   44.78334357713583,
   50.0960356484327,
   52.519975414874004,
   49.65043023970498,
   49.9539028887523,
   52.38936693300553,
   51.39059618930547],
  'd': [43.33128457283343,
   54.42916410571604,
   40.64228641671789,
   48.62092808850645,
   44.43761524277812,
   37.707437000614625,
   43.86908420405655,
   35.63690842040565,
   40.803626306084816,
   55.447141979102646],
  '2d': [39.01352181929932,
   50.391825445605406,
   48.0639213275968,
   25.987246465888138,
   33.577904118008604,
   39.155654578979714,
   45.052243392747386,
   44.199446834665025,
   46.319913952059004,
   44.85633066994468],
  '5d': [50.68377381684081,
   47.82959434542102,
   43.292870313460355,
   49.116472034419175,
   39.86631837738168,
   32.82498463429625,
   38.3279655808236,
   48.12922556853104,
   40.308082360172094,
   46.64643515673018],
  'd*ln(d)': [33.25906576521205,
   38.990473263675476,
   42.84726490473264,
   50.38030116779348,
   44.84096496619545,
   35.713736939151815,
   48.22141979102643,
   54.01044867854948,
   36.18239090350338,
   42.505377996312234],
  'd*log2(d)': [44.30700676090965,
   48.25983405039951,
   50.74523663183774,
   51.16011063306699,
   42.2480024585126,
   38.65626920712969,
   36.17470805162876,
   54.93239090350338,
   50.66456668715427,
   54.87861094038107],
  'd^1.5*ln(d)': [43.08543331284573,
   36.15934234787953,
   53.422710510141364,
   47.74892440073755,
   38.18377381684081,
   46.05485556238476,
   41.75245851259988,
   44.49523663183774,
   39.970036877689,
   57.29870928088506],
  'd^2': [41.94452980946527,
   48.87062077443147,
   49.98847572218808,
   40.988014751075596,
   36.270743700061466,
   40.09680393362016,
   51.4059618930547,
   48.390442532267976,
   51.494314689612786,
   56.99139520590043]}}

In [40]:
for model in dims_df.index:
    print('='*50)
    print(model.center(50, '='))
    print('='*50)
    print(f'{model} baseline:')
    n_samples = 100

    if 'baseline' not in train_results.get(model, dict()):
        train_results[model] = {'baseline': train_model(model, partial(sample_dataset_random, n_samples=n_samples), base_seed=BASE_SEED)}
    for jls_dim in dims_df.columns:
        if jls_dim not in train_results[model]:
            print(f'{model} with {jls_dim=}:')
            pprint(train_results[model], indent=4)
            train_results[model][jls_dim] = train_model(model,
                                                        partial(sample_dataset_jls_kmeans, n_samples=n_samples, jls_dim=dims_df.loc[model, jls_dim]),
                                                        base_seed=BASE_SEED)
    print(f"Results for {model=}:")
    pprint(train_results[model], indent=4)
    print()

==================================================
======================MNIST=======================
==================================================
MNIST baseline:
Results for model='MNIST':
{   '2d': [78.22, 81.03, 73.8, 78.51, 78.82, 77.48, 79.54, 77.85, 78.93, 78.65],
    '5d': [   78.55,
              76.74,
              78.04,
              80.91,
              80.43,
              79.06,
              78.56,
              76.68,
              80.89,
              77.23],
    'baseline': [   72.77,
                    67.73,
                    72.91,
                    76.14,
                    75.61,
                    70.54,
                    73.81,
                    73.36,
                    74.07,
                    75.86],
    'd': [77.17, 78.09, 75.23, 79.53, 78.27, 79.85, 78.3, 79.7, 74.18, 76.77],
    'd*ln(d)': [   78.41,
                   77.87,
                   77.88,
                   77.87,
                   79.12,
                   76.16,
                   76.67,
                   77.5,
                   78.72,
                   79.04],
    'd*log2(d)': [   78.44,
                     79.85,
                     79.31,
                     82.6,
                     75.52,
                     78.75,
                     76.6,
                     79.41,
                     78.58,
                     77.75],
    'd^1.5*ln(d)': [   78.43,
                       78.99,
                       78.62,
                       79.22,
                       81.28,
                       78.9,
                       82.67,
                       80.35,
                       77.15,
                       76.75],
    'd^2': [   77.56,
               77.78,
               78.62,
               81.43,
               78.1,
               79.11,
               80.84,
               79.74,
               79.63,
               79.74]}

==================================================
=======================SVHN=======================
==================================================
SVHN baseline:
Results for model='SVHN':
{   '2d': [   19.349262446220038,
              20.374923171481253,
              18.761524277811922,
              17.075138291333744,
              19.468346650276583,
              25.487861094038106,
              19.560540872771973,
              19.587430854333128,
              19.779502151198525,
              21.166256914566688],
    '5d': [   18.757682851874616,
              19.587430854333128,
              19.587430854333128,
              23.5479409956976,
              17.13660110633067,
              18.258297480024584,
              19.587430854333128,
              27.30101413644745,
              24.36616472034419,
              30.070682237246466],
    'baseline': [   23.54025814382299,
                    20.17516902274124,
                    28.84142593730793,
                    18.573294406883836,
                    22.491548862937922,
                    28.050092194222497,
                    21.45820528580209,
                    15.684542102028272,
                    21.68100799016595,
                    22.410878918254458],
    'd': [   17.65903503380455,
             19.587430854333128,
             26.513521819299324,
             30.485556238475723,
             21.246926859250152,
             22.322526121696374,
             27.174247080516288,
             19.587430854333128,
             20.820528580208972,
             26.732483097725876],
    'd*ln(d)': [   22.44161032575292,
                   19.925476336816224,
                   17.48617086662569,
                   17.924093423478794,
                   23.03318992009834,
                   12.81499692685925,
                   26.955285802089737,
                   22.099723417332513,
                   25.11140135218193,
                   21.058696988322065],
    'd*log2(d)': [   18.189151813153043,
                     19.587430854333128,
                     16.310694529809464,
                     20.3019360786724,
                     28.664720344191764,
                     14.897049784880148,
                     22.933312845728334,
                     24.558236017209587,
                     15.407959434542102,
                     25.568531038721574],
    'd^1.5*ln(d)': [   24.11263060848187,
                       15.938076213890596,
                       27.043638598647817,
                       20.616933005531653,
                       19.591272280270438,
                       22.095881991395206,
                       20.278887523048557,
                       19.587430854333128,
                       19.587430854333128,
                       19.15334972341733],
    'd^2': [   19.587430854333128,
               18.98816840811309,
               18.52719729563614,
               15.938076213890596,
               20.428703134603566,
               23.732329440688382,
               19.587430854333128,
               31.645666871542716,
               14.900891210817456,
               24.900122925629994]}

==================================================
=====================CIFAR-10=====================
==================================================
CIFAR-10 baseline:
Results for model='CIFAR-10':
{   '2d': [25.5, 25.04, 28.8, 27.42, 26.6, 27.22, 22.72, 25.38, 28.8, 29.65],
    '5d': [26.74, 27.16, 30.17, 23.13, 26.11, 24.9, 28.39, 27.26, 25.03, 27.08],
    'baseline': [   25.07,
                    27.58,
                    25.11,
                    25.1,
                    25.95,
                    26.42,
                    23.25,
                    26.71,
                    24.16,
                    26.73],
    'd': [28.41, 25.55, 26.24, 28.37, 22.51, 25.84, 26.76, 24.75, 27.2, 25.78],
    'd*ln(d)': [   27.97,
                   25.75,
                   26.69,
                   29.71,
                   26.24,
                   25.03,
                   25.91,
                   25.11,
                   24.28,
                   26.12],
    'd*log2(d)': [   27.55,
                     28.1,
                     28.71,
                     26.52,
                     24.0,
                     25.38,
                     26.91,
                     30.12,
                     27.51,
                     24.3],
    'd^1.5*ln(d)': [   28.21,
                       24.47,
                       27.69,
                       26.68,
                       26.3,
                       26.76,
                       27.7,
                       28.62,
                       29.24,
                       27.61],
    'd^2': [   27.84,
               29.4,
               25.94,
               24.53,
               24.47,
               26.06,
               27.41,
               24.72,
               24.58,
               28.55]}

# Results
## Test Accuracy percentage
Here we'll show a table of the test accuracy for each dataset for the different implicit dimension functions + random sample (baseline)

In [41]:
 mean_results = {model: {k: np.mean(v) for k, v in model_results.items()} for model, model_results in train_results.items()}
 mean_res_df = pd.DataFrame.from_dict(mean_results, orient='index')
 mean_res_df

,baseline,d,2d,5d,d*ln(d),d*log2(d),d^1.5*ln(d),d^2
CIFAR-10,25.608000,26.141000,26.713000,26.597000,26.281000,26.910000,27.328000,26.350000
MNIST,73.280000,77.709000,78.283000,78.709000,77.924000,78.681000,79.236000,79.255000
SVHN,22.290642,23.212969,20.061079,21.820068,20.885065,20.641902,20.800553,20.823602
MNIST_s_25,51.927000,55.290000,57.066000,56.414000,54.875000,56.996000,60.081000,57.733000
SVHN_s_250,49.774892,44.492548,41.661801,43.702572,42.695144,47.202674,44.817148,46.644130

We can see that only MNIST ever reaches an average over 50% (both for $s=100$ and $s=25$), while the others never really become accurate

If we normalize the accuracy by the baseline, we can see some interesting phenomenas -

In [42]:
 normalized_results = {m: {k: np.mean(v) / np.mean(m_res['baseline'])  - 1 for k, v in m_res.items() if k != 'baseline'} for m, m_res in train_results.items()}
 norm_res_df = pd.DataFrame.from_dict(normalized_results, orient='index')
 norm_res_df * 100

,d,2d,5d,d*ln(d),d*log2(d),d^1.5*ln(d),d^2
CIFAR-10,2.081381,4.315058,3.862074,2.628085,5.084349,6.716651,2.897532
MNIST,6.043941,6.827238,7.408570,6.337336,7.370360,8.127729,8.153657
SVHN,4.137729,-10.002240,-2.111086,-6.305685,-7.396557,-6.684819,-6.581419
MNIST_s_25,6.476400,9.896586,8.640977,5.677201,9.761781,15.702814,11.181081
SVHN_s_250,-10.612469,-16.299566,-12.199565,-14.223532,-5.167703,-9.960332,-6.289842

1) SVHN seems to mostly become **worse** when we use our sampling method (besides the case of $s=100$ & $d_{JL} = d_{ID}$
2) The best performance is seen on MNIST - especially when $s=25$
3) In general $d_{ID}^{1.5}ln\left(d_{ID}\right)$ is the dimension with the best performance, except for SVHN

## Speculations as for why these results make sense
1) SVHN is a very varied dataset with noisy digits that look similar - perhaps euclidian distance is less useful when using working with it.\
Another option is that due to a larger test set (mult-digits caused it) the test evaluation is just better (I don't buy that)
2) MNIST is the dataset with the smallest dimension, and does not require convolutions to solve.\
Perhaps due to its simplicity k-means manages to choose very informative samples, and JL manages to focus k-means on useful features
3) I can't really think of an explanation as to why $d_{ID}^{1.5}ln\left(d_{ID}\right)$ had the best performance - my guess would be that it is big enough to keep many features, but not too big as to include too much noise.

## Ideas for further research
### The relationship between JL and the implicit dimension estimation
Since the implicit dimension is computed via MLE anf k-means - it would be interesting to look at how the JL transformation changes the dimension estimation
### Usage of JL with classic ML classifiers for MNIST
Since we saw that JL is the most helpful with MNIST, it would be interesting to see how classic ML classifiers like SVMs would work on the result of the JL tranformation into these functions of the implicit dimension
### Why SVHN was so bad
Another interesting vector would be to find out why SVHN worked so badly with JL - maybe we can find out for which datasets euclidian distance is useful
### Using the estimated dimension as a feature dimension in the model
Out of scope for this course - but it would be interesting to see if using these functions of the implicit dim as the feature dimension before a classifier has any merit.

# Conclusion
This work had several fun challenges:
* reproducing the original work (ended up finding out that pytorch is *very* different from tensorflow)
* reaching google colab's resource limit (I had to optimize the code several times, and to borrow my GFs google account for the final leg)

While I didn't reach any results that were too interesting, I think the directions with MNIST could have *some* potential, and at least it was a very educational assignment that casued me to do deep-dives into both papers and python libraries